<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition Attendance System</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="static/images/MeroHajiri_logo.png" alt="System Logo" class="logo">
            <h1>Mero Hajiri</h1>
        </div>
    </header>

    <div class="main-buttons">
        <a href="/login" class="btn-big">Login</a>
        <a href="/register" class="btn-big">Register</a>
    </div>

    <section id="about-contact">
        <div class="info">
            <h2>About</h2>
            <p>Welcome to the Facial Recognition Attendance System. Our system uses advanced facial recognition technology to streamline and automate the attendance process, ensuring accuracy and efficiency.</p>
        </div>
        <div class="info">
            <h2>Contact Us</h2>
            <p>If you have any questions or need assistance, feel free to reach out to us:</p>
            <p>Email: support@attendance.com</p>
            <p>Phone: +123-456-7890</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Mero Hajiri. All rights reserved.</p>
    </footer>
</body>
</html>
